<div class="jumbotron" style="background-color: white; margin-top: 50px;">
  <h1 class="text-center">
    Sorry, this link either doesn't exist or has been deleted.
  </h1>
  <%= link_to "Home", root_path, class: 'btn btn-link' %>
</div>